* text=auto eol=lf

*.json linguist-detectable=true

*.md linguist-detectable=true
*.md linguist-documentation=false

*.toml linguist-detectable=true

.config/ghostty/config linguist-language=ini
.config/zed/*.json linguist-language=jsonc
