[alias]
  # List contributors with number of commits
  contributors = shortlog --summary --numbered
  # Pull in submodules as well
  cr = clone --recursive
  # Show the diff between the latest commit and the current state
  diff = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  # Remove branches that have already been merged with master
  dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  # View abbreviated SHA, description, and history graph of the latest 20 commits
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  remotes = remote -v
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  frag = magenta bold
  meta = yellow
  new = green bold
  old = red bold
  commit = yellow bold
  whitespace = red reverse
[color "diff-highlight"]
  newNormal = green bold
  newHighlight = green bold 22
  oldNormal = red bold
  oldHighlight = red bold 52
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  # Use global `.gitignore` and `.gitattributes`
  attributesfile = ~/.gitattributes
  autocrlf = false
  editor = code
  excludesfile = ~/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = "code --wait "
[user]
  email = yeskunall96@gmail.com
  name = Kunall Banerjee
