[core]
  editor = subl
	excludesfile = C:/Users/Kunall/AppData/Roaming/SPB_16.6/.gitignore_global
	autocrlf = false
[user]
  name = Kunall Banerjee
  email = yeskunall96@gmail.com
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
	tool = kdiff3
	tool = kdiff3
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false
[diff]
	guitool = kdiff3
	guitool = kdiff3
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false
