# This should be at a package-level. Disabling
# for now
# access=public

# Always show colors, no matter what
color=always

init.author.email=yeskunall96@gmail.com
init.author.name=Kunall Banerjee <yeskunall96@gmail.com> (https://kimchi.now.sh/)
init.author.url=https://kimchi.now.sh

init.license=MIT

init.version=0.0.1

# Always use `python2.7` during install
python=python2.7

# This should be at a package-level. Disabling
# for now
# @yeskunall:registry=https://registry.npmjs.org/
