# This should be at a package-level. Disabling
# for now
# access=public

# Always show colors, no matter what
color=always

init.author.email=hey@kimchiii.space
init.author.name=Kunall Banerjee <hey@kimchiii.space> (https://kimchiii.space/)
init.author.url=https://kimchiii.space

init.license=MIT

init.version=0.0.1

# Always use `python2.7` during install
python=python2.7

# This should be at a package-level. Disabling
# for now
# @yeskunall:registry=https://registry.npmjs.org/
