color=always
init.author.email=yeskunall96@gmail.com
init.author.name=Kunall Banerjee <yeskunall96@gmail.com> (https://kimchi.now.sh/)
init.author.url=https://kimchi.now.sh
init.license=MIT
init.version=0.0.1
scope=yeskunall
