#!/usr/bin/env bash

# Make VS Code the default editor
export EDITOR='code';

# Use Node's persistent REPL history (Node >= 8)
export NODE_REPL_HISTORY=~/.node_history;
# Allow 500 entries; the default is 1000
export NODE_REPL_HISTORY_SIZE='500';

# Don’t clear the screen after quitting a manual page
export MANPAGER='less -X';

# Colorize `man` pages
export MANROFFOPT='-c'
export LESS_TERMCAP_mb=$(tput bold; tput setaf 2)
export LESS_TERMCAP_md=$(tput bold; tput setaf 6)
export LESS_TERMCAP_me=$(tput sgr0)
export LESS_TERMCAP_so=$(tput bold; tput setaf 3; tput setab 4)
export LESS_TERMCAP_se=$(tput rmso; tput sgr0)
export LESS_TERMCAP_us=$(tput smul; tput bold; tput setaf 7)
export LESS_TERMCAP_ue=$(tput rmul; tput sgr0)
export LESS_TERMCAP_mr=$(tput rev)
export LESS_TERMCAP_mh=$(tput dim)
