[alias]
  mergetool = "!nvim -c DiffviewOpen"
[color]
  branch = true
  # Default is `auto`
  ui = true
[commit]
  gpgsign = "true"
[core]
  # Use global `.gitattributes` and `.gitignore`
  attributesfile = "~/.config/git/.gitattributes_global"
  autocrlf = "false"
  editor = "nvim"
  excludesfile = "~/.config/git/.gitignore_global"
  pager = "delta"
  # https://git-scm.com/docs/git-update-index#_untracked_cache
  untrackedCache = true
[delta]
  line-numbers = true
  navigate = true
  side-by-side = true
  syntax-theme = "OneHalfLight"
[gpg]
  program = "gpg2"
[init]
  defaultBranch = "main"
[interactive]
  diffFilter = delta --color-only
[user]
  email = "hey@kimchiii.space"
  name = "Kunall Banerjee"
  signingkey = "72F05240006B05DC"
