fund = "false"

# `pnpm` requires this to be set
global-bin-dir = "${XDG_DATA_HOME}/mise/installs/node/${CURRENT_NODE_VERSION}/bin/"

init-author-email = "hey@kimchiii.space"
init-author-name = "Kunall Banerjee <hey@kimchiii.space> (https://kimchiii.space/)"
init-author-url = "https://kimchiii.space"

init-license = "MIT"

init-version = "0.0.1"
