fund = "false"

# `pnpm` requires this to be set
global-bin-dir = "${XDG_DATA_HOME}/mise/installs/node/${CURRENT_NODE_VERSION}/bin/"

init-author-email = "hey@kunall.dev"
init-author-name = "Kunall Banerjee"
init-author-url = "https://kunall.dev"

init-license = "MIT"

init-version = "0.0.1"
